<body class="main-bg">
        <div class="login-container text-c animated flipInX">
                <div>
                    <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
                </div>
                    <h3 class="text-whitesmoke">Login:</h3>
                    
                <div class="container-content">
                    <form action="/user/login" class="margin-t" method="POST">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" required="" name="email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="*****" required="" name="password">
                        </div>
                        <button type="submit" class="btn btn-success">Enter</button>
        
                        
                        
                    </form>
                    
                </div>
            </div>
</body>